* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #fff;
}

body {
    background: #080808;
}

::-webkit-scrollbar {
    display: none;
}